* {
  border-color: #fabd2f !important;
}
a {
  color: #458588 !important;
}
a:visited {
  color: #d3869b !important;
}
body {
  background-color: #1d2021 !important;
  color: #83a598 !important;
}
html {
  background-color: #1d2021 !important;
}
input,
textarea {
  background-color: #282828 !important;
  color: #83a598 !important;
}
blockquote,
pre {
  background-color: #282828 !important;
  color: #83a598 !important;
}
* {
  border-color: #fabd2f !important;
}
a {
  color: #458588 !important;
}
a:visited {
  color: #d3869b !important;
}
body {
  background-color: #1d2021 !important;
  color: #83a598 !important;
}
html {
  background-color: #1d2021 !important;
}
input,
textarea {
  background-color: #282828 !important;
  color: #83a598 !important;
}
blockquote,
pre {
  background-color: #282828 !important;
  color: #83a598 !important;
}
