* {
  border-color: #fabd2f !important;
}
a {
  color: #458588 !important;
}
a:visited {
  color: #d3869b !important;
}
body {
  background-color: #1d2021 !important;
  color: #83a598 !important;
}
html {
  background-color: #1d2021 !important;
}
input,
textarea {
  background-color: #282828 !important;
  color: #83a598 !important;
}
blockquote,
pre {
  background-color: #282828 !important;
  color: #83a598 !important;
}
table {
  background-color: #1d2021 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table,
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table {
  background-color: #fb4934 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) a,
#hnmain > tbody:nth-child(1) > tr:nth-child(1) a {
  color: #000 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2),
#hnmain > tbody:nth-child(1) > tr:nth-child(2) {
  background-color: #1d2021 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(2) {
  background-color: #1d2021 !important;
}
.title a {
  color: #83a598 !important;
}
.title a:visited {
  color: #458588 !important;
}
a.storylink {
  color: #8ec07c !important;
  font-weight: bold;
}
.sitestr {
  color: #458588 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1) {
  background-color: #1d2021 !important;
}
#hnmain .comhead {
  color: #8ec07c !important;
}
#hnmain .c00 {
  color: #83a598 !important;
}
#hnmain a.hnuser {
  color: #d79921 !important;
}
#hnmain span.age a {
  color: #458588 !important;
}
.cdd {
  color: rgba(255,38,27,0.65) !important;
}
.comment i {
  color: #458588 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(4) {
  background-color: #1d2021 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(4) > td:nth-child(1) > table:nth-child(2) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
  background-color: #fb4934 !important;
}
