* {
  border-color: #fabd2f !important;
}
a {
  color: #458588 !important;
}
a:visited {
  color: #d3869b !important;
}
body {
  background-color: #1d2021 !important;
  color: #83a598 !important;
}
html {
  background-color: #1d2021 !important;
}
input,
textarea {
  background-color: #282828 !important;
  color: #83a598 !important;
}
blockquote,
pre {
  background-color: #282828 !important;
  color: #83a598 !important;
}
.search--adv {
  background-color: #282828 !important;
}
.search__autocomplete > .acp-wrap {
  background-color: #1d2021 !important;
}
.search__autocomplete > .acp-wrap > .acp--highlight {
  background-color: #282828 !important;
  color: #a89984 !important;
}
.search__autocomplete > .acp-wrap strong {
  color: #a89984 !important;
}
.site-wrapper > #header_wrapper {
  background-color: #1d2021 !important;
}
.site-wrapper > #header_wrapper > #header {
  background-color: #1d2021 !important;
}
.search--header {
  background-color: #282828 !important;
}
.zci {
  background-color: #282828 !important;
  color: #83a598 !important;
}
.tile--info {
  background-color: #1d2021 !important;
}
.tile--info__expand {
  background-color: #458588 !important;
}
.tile--c {
  background-color: #458588 !important;
  color: #a89984 !important;
}
.module__text {
  color: #83a598 !important;
}
.about-info-box__heading {
  color: #8ec07c !important;
}
.result.highlight {
  background-color: #282828 !important;
}
.result__snippet {
  color: #83a598 !important;
}
.result__snippet b {
  color: #8ec07c !important;
}
.btn--top {
  background-color: #282828 !important;
  color: #83a598 !important;
}
.btn--top:hover {
  background-color: #458588 !important;
}
.result--sep--hr:before {
  background-color: #458588 !important;
}
