// * light.styl

@require colors

// ** Colors
color-a = blue
color-a-visited = violet

color-background = base3
color-background-highlight = base4
color-background-highlight-extra = base1
color-background-highlight-extra-less = darken(color-background-highlight, 4%)
color-background-highlight-extra-less-less = darken(color-background-highlight, 2%)
color-background-highlight-tad-extra = darken(color-background, 2%)

color-border = base0
color-text = base03
comment = base1

emphasized = base01
emphasized-more = base02
emphasized-more-more = base03

button-gradient-top = color-background-highlight
button-gradient-bottom = color-background-highlight-extra
