* {
  border-color: #83a598 !important;
}
a {
  color: #458588 !important;
}
a:visited {
  color: #d3869b !important;
}
body {
  background-color: #f9f5d7 !important;
  color: #282828 !important;
}
html {
  background-color: #f9f5d7 !important;
}
input,
textarea {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
blockquote,
pre {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
.post-actions {
  background-color: #f2e5bc !important;
}
.textarea-wrapper {
  background-color: #f9f5d7 !important;
  color: #282828 !important;
}
.search--adv {
  background-color: #f2e5bc !important;
}
.search__autocomplete > .acp-wrap {
  background-color: #f9f5d7 !important;
}
.search__autocomplete > .acp-wrap > .acp--highlight {
  background-color: #f2e5bc !important;
  color: #1d2021 !important;
}
.search__autocomplete > .acp-wrap strong {
  color: #1d2021 !important;
}
.site-wrapper > #header_wrapper {
  background-color: #f9f5d7 !important;
}
.site-wrapper > #header_wrapper > #header {
  background-color: #f9f5d7 !important;
}
.search--header {
  background-color: #f2e5bc !important;
}
.zci {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
.tile--info {
  background-color: #f9f5d7 !important;
}
.tile--info__expand {
  background-color: #8ec07c !important;
}
.tile--c {
  background-color: #8ec07c !important;
  color: #1d2021 !important;
}
.module__text {
  color: #282828 !important;
}
.about-info-box__heading {
  color: #458588 !important;
}
.result.highlight {
  background-color: #f2e5bc !important;
}
.result__snippet {
  color: #282828 !important;
}
.result__snippet b {
  color: #458588 !important;
}
.btn--top {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
.btn--top:hover {
  background-color: #8ec07c !important;
}
.result--sep--hr:before {
  background-color: #8ec07c !important;
}
* {
  border-color: #f2e5bc !important;
}
.news .alert .pull-info {
  background-color: #f1e2b5 !important;
}
.link-gray-dark,
.text-gray-dark {
  color: #282828 !important;
}
.bg-white {
  background-color: #f9f5d7 !important;
}
.border {
  border-color: #83a598 !important;
}
.breadcrumb .repo-root.js-repo-root a {
  color: #458588 !important;
}
.breadcrumb strong.final-path {
  color: #282828 !important;
}
button.ajax-pagination-btn {
  background-color: #f2e5bc !important;
  color: #458588 !important;
}
button.ajax-pagination-btn:hover {
  background-color: #8ec07c !important;
}
.comment-reactions .btn-link {
  color: #282828 !important;
}
.comment-reactions .user-has-reacted {
  background-color: #f2e5bc !important;
}
.text-gray-dark {
  color: #282828 !important;
}
.contrib-number {
  color: #458588 !important;
}
.counter {
  background-color: #efdfae !important;
  color: #458588 !important;
}
.diffstat-bar {
  color: #282828 !important;
}
.file-header {
  background-color: #f2e5bc !important;
}
.file-history-tease .participation {
  background-color: #f9f5d7 !important;
  color: #282828 !important;
}
.file-history-tease .participation .quickstat strong {
  color: #282828 !important;
}
.file-history-tease .participation a {
  color: #8ec07c !important;
}
.file-history-tease .author a {
  color: #282828 !important;
}
.file-history-tease-header {
  background-color: #f2e5bc !important;
}
.file-info-divider {
  background-color: #8ec07c !important;
}
.file-wrap {
  color: #282828 !important;
}
.file-wrap * {
  background-color: transparent !important;
}
.filter-bar {
  background-color: #f1e2b5 !important;
}
a.filter-item,
.filter-item {
  color: #282828 !important;
}
a.filter-item.selected,
.filter-item.selected {
  background-color: #f2e5bc !important;
  color: #458588 !important;
}
a.filter-item:hover,
.filter-item:hover {
  background-color: #8ec07c !important;
  color: #458588 !important;
}
.flash {
  background-color: #f2e5bc !important;
  color: #458588 !important;
}
.gh-header-number {
  color: #8ec07c !important;
}
.ellipsis-expander,
.hidden-text-expander a {
  background-color: #f2e5bc !important;
}
.issue-meta {
  color: #8ec07c !important;
}
.issues-listing a {
  color: #282828 !important;
}
.muted-link {
  color: #282828 !important;
}
.new-user-avatar-cta {
  background-color: #f2e5bc !important;
  border-color: #8ec07c !important;
  color: #458588 !important;
}
.overall-summary {
  border-color: #8ec07c !important;
}
.pinned-repo-item.border {
  border-color: #8ec07c !important;
}
.progress-bar {
  background-color: #8ec07c !important;
}
.simple-box {
  background-color: #f2e5bc !important;
}
.social-count {
  background-color: #f2e5bc !important;
  border-color: #8ec07c !important;
  color: #458588 !important;
}
.scope-badge {
  background-color: #8ec07c !important;
  color: #458588 !important;
}
.stats-switcher-wrapper {
  background-color: #f9f5d7 !important;
}
.stats-switcher-wrapper .numbers-summary li a {
  color: #282828 !important;
}
.table-list-header-toggle .btn-link {
  color: #8ec07c !important;
}
.table-list-header-toggle .btn-link.selected {
  color: #282828 !important;
}
.text-emphasized {
  color: #458588 !important;
}
.text-diff-added {
  color: #98971a !important;
}
.text-diff-deleted {
  color: #cc241d !important;
}
.avatar,
.timeline-comment-avatar {
  filter: opacity(75%);
}
.blob-code {
  background-color: #f9f5d7 !important;
  color: #282828 !important;
}
.blob-code-addition {
  background-color: rgba(231,230,113,0.1) !important;
}
.blob-code-addition .x {
  background-color: #727113 !important;
  color: #949494 !important;
}
.blob-code-deletion {
  background-color: rgba(204,36,29,0.2) !important;
}
.blob-code-deletion .x {
  background-color: #66120f !important;
  color: #949494 !important;
}
.blob-code-hunk {
  background-color: #f2e5bc !important;
  border-color: #8ec07c !important;
}
.blob-code-inner {
  color: #282828 !important;
}
.blob-num {
  background-color: #f9f5d7 !important;
  color: #8ec07c !important;
}
.file {
  color: #282828 !important;
}
.form-control {
  background-color: #f2e5bc !important;
  border-color: #8ec07c !important;
}
.pl-c {
  color: #8ec07c !important;
}
.pl-c1 {
  color: #458588 !important;
}
.pl-e {
  color: #d79921 !important;
}
.pl-en {
  color: #458588 !important;
}
.pl-k {
  color: #98971a !important;
  font-weight: bold !important;
}
.pl-pds {
  color: #689d6a !important;
}
.pl-s {
  color: #689d6a !important;
}
.pl-smi {
  color: #282828 !important;
}
.pl-v {
  color: #98971a !important;
  font-weight: bold !important;
}
.pl-mi1 {
  color: #98971a !important;
  background-color: transparent !important;
}
.pl-md {
  color: #cc241d !important;
  background-color: transparent !important;
}
.border-bottom,
.border-top {
  border-color: #f2e5bc !important;
}
.boxed-group * {
  border-color: #8ec07c !important;
}
.boxed-group article {
  background-color: #f9f5d7 !important;
  color: #282828 !important;
}
.boxed-group > h3 {
  background-color: #efdfae !important;
  color: #458588 !important;
}
.more-repos {
  background-color: #efdfae !important;
  box-shadow: inset 0 1px 0 #8ec07c !important;
}
.boxed-group-inner {
  background-color: #f9f5d7 !important;
}
.branch-action-body {
  background-color: #f2e5bc !important;
  border-color: #8ec07c !important;
}
.branch-action-body div {
  border-color: #8ec07c !important;
}
.branch-action-state-clean .branch-action-icon {
  background-color: #98971a !important;
}
.branch-action-state-dirty .branch-action-icon,
.branch-action-state-unstable .branch-action-icon,
.branch-action-state-unknown .branch-action-icon {
  background-color: #d79921 !important;
  color: #fff !important;
}
.text-shadow-light,
.branch-group-name,
.branch-summary {
  color: #282828 !important;
  text-shadow: none !important;
}
.branch-a-b-count .meter {
  background-color: #d79921 !important;
}
.more-branches,
.branch-group-heading,
.branch-infobar,
.branch-name {
  border-color: #8ec07c !important;
  background-color: #f2e5bc !important;
}
.State,
.State:visited {
  color: #fff !important;
}
.State--red {
  background-color: #cc241d !important;
  color: #f9f5d7 !important;
}
.State--green {
  background-color: #98971a !important;
  color: #f9f5d7 !important;
}
.select-menu-filters {
  background-color: #f1e2b5 !important;
  color: #458588 !important;
}
.js-select-menu-tab {
  background-color: #efdfae !important;
  color: #458588 !important;
}
.select-menu-tabs a.selected,
.select-menu-tab-nav.selected {
  background-color: #8ec07c !important;
  color: #f9f5d7 !important;
}
.signed-commit-header {
  background-color: #f9f5d7 !important;
}
.build-status-item {
  background-color: #efdfae !important;
  color: #458588 !important;
}
.build-status-item .build-status-details {
  color: #458588 !important;
}
.capped-card h3 {
  background-color: #efdfae !important;
}
.capped-card h3 a {
  color: #458588 !important;
}
.capped-card-content {
  background-color: #f9f5d7 !important;
}
.capped-list th {
  background-color: #f1e2b5 !important;
  color: #458588 !important;
}
.capped-list tr:nth-child(2n) {
  background-color: #f2e5bc !important;
}
.commit,
.commit-meta,
.commit-icon .octicon,
.commit-group-title .octicon-git-commit {
  background-color: #f9f5d7 !important;
}
.commit *,
.commit-meta *,
.commit-icon .octicon *,
.commit-group-title .octicon-git-commit * {
  border-color: #8ec07c !important;
}
.commit-author {
  color: #282828 !important;
}
.commit-author-section {
  color: #282828 !important;
}
.commit-meta {
  color: #8ec07c !important;
}
.commit-meta .sha-block {
  color: #8ec07c !important;
}
.commit-meta .sha-block .sha {
  color: #282828 !important;
}
.commit-ref,
code.commit-sha {
  background-color: #f2e5bc !important;
  color: #458588 !important;
}
.commit-ref .user,
code.commit-sha .user {
  color: #689d6a !important;
}
.commit-branches *,
.commit-tease,
.commit-title {
  background-color: rgba(0,0,0,0.2) !important;
  border: none !important;
}
.commit-branches * *,
.commit-tease *,
.commit-title * {
  color: #458588 !important;
}
.commit-tease-contributors {
  background-color: #f2e5bc !important;
}
div.commit-branches,
div.commit.full-commit p.commit-title,
qul.branches-list {
  background-color: #f2e5bc !important;
  color: #458588 !important;
}
div.commit-branches *,
div.commit.full-commit p.commit-title *,
qul.branches-list * {
  background-color: #f2e5bc !important;
  color: #458588 !important;
}
.commit-meta {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
.commits-listing:before {
  background-color: #f2e5bc !important;
}
.full-commit {
  background-color: #f2e5bc !important;
  border-color: #8ec07c !important;
}
.full-commit * {
  text-shadow: none !important;
}
.commit-desc pre {
  background-color: transparent !important;
  color: #282828 !important;
}
.commit.table-list-item {
  border-color: #f2e5bc !important;
}
.commit-meta.commit-author-section {
  background-color: transparent !important;
  color: #282828 !important;
}
.table-list-cell .commit-title {
  background-color: transparent !important;
  color: #282828 !important;
}
.completeness-indicator-success {
  background-color: #98971a !important;
}
.completeness-indicator-problem {
  background-color: #d79921 !important;
  color: #fff !important;
}
.copyable-terminal {
  background-color: #f2e5bc !important;
}
.blankslate {
  background-color: #f2e5bc !important;
  color: #458588 !important;
}
.comment-form-head.tabnav {
  background-color: #f9f5d7 !important;
}
.conversation-list-heading .inner {
  background-color: #f9f5d7 !important;
}
.discussion-item-closed .discussion-item-icon {
  background-color: #cc241d !important;
  color: #458588 !important;
}
.discussion-item-icon {
  background-color: #8ec07c !important;
  color: #458588 !important;
}
.discussion-item-icon.octicon {
  color: #458588 !important;
}
.discussion-item-entity,
.discussion-item .renamed-was,
.discussion-item .renamed-is {
  color: #458588 !important;
}
.discussion-timeline:before {
  background-color: #83a598 !important;
}
.discussion-timeline-actions {
  background-color: #f9f5d7 !important;
}
.drag-and-drop {
  background-color: #f2e5bc !important;
}
.new-discussion-timeline .closed-banner {
  background-color: #83a598 !important;
  border-color: #f9f5d7 !important;
}
.timeline-comment {
  background-color: #f9f5d7 !important;
  border-color: #8ec07c !important;
}
.timeline-comment-header {
  background-color: #f2e5bc !important;
}
.timeline-comment-wrapper {
  border-color: #f9f5d7 !important;
}
.donut-chart > .pending {
  fill: #d79921 !important;
}
.dropdown-divider {
  background-color: #83a598 !important;
}
.dropdown-item {
  color: #282828 !important;
}
.dropdown-item:hover {
  background-color: #8ec07c !important;
  color: #458588 !important;
}
.dropdown-menu {
  background-color: #efdfae !important;
  color: #458588 !important;
  border-color: #83a598 !important;
}
.files * {
  color: #282828 !important;
}
.files tbody tr {
  border-color: #f2e5bc !important;
}
.files tbody tr:nth-child(even) {
  background-color: #f8f3cf !important;
}
.files tbody tr:nth-child(odd) {
  background-color: #f9f5d7 !important;
}
.files tbody tr:hover * {
  background-color: #efdfae !important;
}
.btn {
  background-image: linear-gradient(to bottom, #f2e5bc, #8ec07c) !important;
  border-color: #8ec07c !important;
  color: #458588 !important;
}
.btn:hover {
  background-color: #f1e2b5 !important;
}
.btn-primary,
.issues-listing .btn-primary {
  background-color: #98971a !important;
  background-image: linear-gradient(#98971a, #4c4c0d) !important;
  color: #000 !important;
  filter: opacity(62.5%);
}
.entry-title a {
  color: #458588 !important;
}
.Header {
  background-color: #f1e2b5 !important;
  border-bottom-color: #8ec07c !important;
}
.Header a {
  color: #458588 !important;
}
.lang {
  color: #458588 !important;
}
.reponav-item,
.pagehead-tabs-item {
  background-color: #f2e5bc !important;
  border-color: transparent !important;
  color: #282828 !important;
}
.reponav-item:visited,
.pagehead-tabs-item:visited {
  color: #282828 !important;
}
.reponav-item.selected,
.pagehead-tabs-item.selected {
  background-color: #f9f5d7 !important;
  border-color: #cc241d #efdfae transparent !important;
}
.site-footer-links * {
  color: #282828 !important;
}
.Box-row--focus-gray.navigation-focus {
  background-color: #f1e2b5 !important;
  color: #458588 !important;
}
.js-directory-link {
  color: #458588 !important;
}
.js-site-search-form input,
.js-chromeless-input-container {
  background-color: #f9f5d7 !important;
  border-color: #8ec07c !important;
}
a.label {
  color: #000 !important;
  filter: opacity(75%);
}
.notifications-list a {
  color: #282828 !important;
}
.notifications-list li {
  background-color: #f9f5d7 !important;
}
.octicon-repo {
  color: #8ec07c !important;
}
.type-icon-state-closed {
  color: rgba(180,0,0,0.65) !important;
}
.type-icon-state-merged {
  color: #d3869b !important;
}
.type-icon-state-open {
  color: rgba(100,100,0,0.65) !important;
}
.octicon-alert {
  color: #fff !important;
}
.octicon-x {
  color: #cc241d !important;
}
.octicon-check {
  color: #98971a !important;
}
.octicon-primitive-dot {
  color: #d79921 !important;
}
.octicon-clippy {
  color: #458588 !important;
}
.octicon-diff {
  color: #fff !important;
}
.octicon-markdown {
  color: #8ec07c !important;
}
.orghead {
  background-color: #f2e5bc !important;
  border-color: #83a598 !important;
  border-bottom: 0px !important;
  color: #458588 !important;
}
.org-name {
  color: #458588 !important;
}
.pagehead.orghead {
  background-color: #f2e5bc !important;
}
.outline-box-highlighted {
  background-color: #f2e5bc !important;
  color: #458588 !important;
}
.pagination .current {
  background-color: #8ec07c !important;
  color: #458588 !important;
}
.pagination .disabled {
  background-color: #f2e5bc !important;
  color: #8ec07c !important;
}
.pagination .disabled:hover {
  background-color: #f2e5bc !important;
}
.pagination .gap {
  background-color: #f2e5bc !important;
  color: #8ec07c !important;
}
.pagination a {
  background-color: #f2e5bc !important;
  border-color: #f9f5d7 !important;
  color: #282828 !important;
}
.pagination a:hover {
  background-color: #8ec07c !important;
  color: #f9f5d7 !important;
}
.empty-cell,
.diffbar {
  background-color: #f9f5d7 !important;
}
.merge-status-item {
  background-color: #efdfae !important;
}
.merge-message {
  background-color: #f1e2b5 !important;
}
.pr-toolbar {
  background-color: #f9f5d7 !important;
}
.review-thread-reply {
  background-color: #f2e5bc !important;
}
.review-thread-reply .inline-comment-form {
  background-color: #f9f5d7 !important;
}
.merged.octicon,
.octicon-git-merge {
  color: #d3869b !important;
}
.uploaded-files {
  background-color: #f9f5d7 !important;
}
.upload-progress {
  background-color: #f2e5bc !important;
  box-shadow: 1px 0px 0px #f2e5bc inset;
}
#readme .plain {
  background-color: #f9f5d7 !important;
}
.markdown-body,
.markdown-body table * {
  background-color: #f9f5d7 !important;
  border-color: #83a598 !important;
  color: #282828 !important;
}
.markdown-body a,
.markdown-body table * a {
  color: #458588 !important;
}
.markdown-body code,
.markdown-body table * code,
.markdown-body pre,
.markdown-body table * pre {
  background-color: #f2e5bc !important;
}
.markdown-body hr,
.markdown-body table * hr {
  background-color: #8ec07c !important;
}
.markdown-body img,
.markdown-body table * img {
  background-color: #f9f5d7 !important;
}
.task-list-item.hovered {
  background-color: #f2e5bc !important;
}
.range-editor {
  background-color: #f2e5bc !important;
}
.compare-pr-placeholder {
  background-color: #f1e2b5 !important;
}
ul.comparison-list > li.title {
  background-color: #efdfae !important;
}
ul.comparison-list {
  background-color: #f1e2b5 !important;
}
.repository-description {
  color: #282828 !important;
}
.repository-meta .edit-repository-meta label {
  color: #282828 !important;
}
.pagehead.repohead {
  background-color: #f2e5bc !important;
}
.repository-content .RecentBranches {
  background-color: #f2e5bc !important;
  border-color: #83a598 !important;
}
.repohead-details-container a {
  color: #282828 !important;
}
.select-menu-modal {
  border-color: #282828 !important;
}
.select-menu-modal * {
  color: #282828 !important;
}
.select-menu-header,
.select-menu-header * {
  background-color: #f2e5bc !important;
  color: #458588 !important;
  text-shadow: none !important;
}
.select-menu-item {
  background-color: #f9f5d7 !important;
}
.select-menu-item.navigation-focus,
.select-menu-item.navigation-focus.selected,
.select-menu-item.navigation-focus.select-menu-action,
.select-menu-item-text.navigation-focus {
  background-color: #8ec07c !important;
  color: #458588 !important;
}
.repository-sidebar {
  background-color: #f9f5d7 !important;
}
.thread-subscription-status {
  background-color: #f9f5d7 !important;
}
.sunken-menu {
  background-image: linear-gradient(to right, #f2e5bc 0%, #f9f5d7 8px) !important;
  box-shadow: 1px 0px 0px #f2e5bc inset;
}
.sunken-menu:before {
  background-image: linear-gradient(#f9f5d7, transparent) !important;
}
.sunken-menu:after {
  background-image: linear-gradient(transparent, #f9f5d7) !important;
}
.sunken-menu-item {
  border-color: #f9f5d7 !important;
}
.sunken-menu-item.selected {
  background-color: #f9f5d7 !important;
  border-color: #efdfae !important;
  color: #458588 !important;
}
.sunken-menu-item.selected:after {
  background-color: #fb4934 !important;
}
.sunken-menu-separator:before {
  background-image: linear-gradient(to right, #f2e5bc 70%, #f9f5d7 100%) !important;
}
.state {
  color: #458588 !important;
}
.state-closed {
  background-color: #cc241d !important;
}
.state-open {
  background-color: #98971a !important;
}
.subnav-item {
  color: #282828 !important;
}
.subnav-item:hover {
  background-color: #f1e2b5 !important;
}
.subnav-item:visited {
  color: #282828 !important;
}
.subnav-item.selected {
  background-color: #f2e5bc !important;
}
.subnav-links a:hover {
  background-color: #f2e5bc !important;
}
.subnav-search input {
  border-color: #8ec07c !important;
}
.right .tabnav-extra {
  color: #8ec07c !important;
}
a.tabnav-tab,
.tabnav-tab {
  border-color: transparent !important;
  color: #8ec07c !important;
}
a.tabnav-tab.selected,
.tabnav-tab.selected {
  background-color: #f9f5d7 !important;
  background-image: linear-gradient(#f2e5bc, #f9f5d7) !important;
  border-color: #83a598 !important;
  color: #458588 !important;
}
.table-list tr,
.table-list li {
  background-color: #f9f5d7 !important;
}
.table-list tr:hover,
.table-list li:hover {
  background-color: #efdfae !important;
}
.table-list-header {
  background-color: #f2e5bc !important;
}
.text-pending {
  color: #d79921 !important;
}
.text-pending .octicon-primitive-dot {
  color: #d79921 !important;
}
.text-red {
  color: #cc241d !important;
}
.timeline-commits .commit-meta {
  background-color: #f9f5d7 !important;
}
.timeline-commits .commit-meta .commit-id {
  color: #8ec07c !important;
}
.topic-tag.topic-tag-link {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
.underline-nav-item {
  color: #282828 !important;
}
.underline-nav-item.selected {
  border-bottom-color: #cc241d !important;
  color: #282828 !important;
}
.user-profile-nav {
  background-color: #f2e5bc !important;
  border-color: #83a598 !important;
}
.user-profile-sticky-bar:after {
  background-color: #f2e5bc !important;
  border-color: #83a598 !important;
}
.graphs .area {
  fill: #98971a;
}
.summary-stats li .num {
  color: #458588 !important;
}
.viz {
  background-color: #f1e2b5 !important;
}
.facebox-popup {
  color: #282828 !important;
  background-color: #f9f5d7 !important;
}
.facebox-popup .octicon {
  color: #fff !important;
}
.facebox-popup .owner-select-target {
  color: #282828 !important;
  background-color: #f2e5bc !important;
}
.facebox-popup .owner-select-target:hover {
  background-color: #8ec07c !important;
}
.suggester {
  background-color: #efdfae !important;
}
.suggester li.navigation-focus {
  background-color: #8ec07c !important;
}
.menu {
  background-color: #f2e5bc !important;
}
.menu-item.selected {
  background-color: #efdfae !important;
}
.menu-item:hover {
  background-color: #8ec07c !important;
}
.Box {
  background-color: #f9f5d7 !important;
}
.Box-header {
  background-color: #f2e5bc !important;
}
svg > * text {
  color: #282828 !important;
  fill: #282828 !important;
}
.insertions {
  color: #98971a !important;
}
.deletions {
  color: #cc241d !important;
}
.sfbgg {
  background-color: #f2e5bc !important;
}
.sbib_a {
  background: linear-gradient(to bottom, #f2e5bc, #f9f5d7) !important;
}
input#lst-ib,
#sb_ifc0.sbib_b,
#gs_taif0 {
  background: transparent !important;
}
#lst-ib,
.sbsb_a {
  background-color: #f9f5d7 !important;
}
.kpbb {
  background-image: linear-gradient(to bottom, #67afb2, #458588) !important;
}
#hdtbSum {
  background-color: #f9f5d7 !important;
}
#hdtbMenus.hdtb-td-o {
  background-color: #f9f5d7 !important;
}
#hdtb-tls.hdtb-tl {
  background-image: linear-gradient(to bottom, #f9f5d7, #f2e5bc) !important;
}
#hdtb-tls.hdtb-tl.hdtb-tl-sel {
  background-image: linear-gradient(to bottom, #f2e5bc, #f9f5d7) !important;
}
#abar_button_opt.ab_button {
  background: linear-gradient(to bottom, #f9f5d7, #f2e5bc) !important;
}
#appbar {
  background-color: #f9f5d7 !important;
}
cite {
  color: #98971a !important;
}
.ab_dropdown {
  background-color: #f9f5d7 !important;
}
div.crp {
  background-color: #f9f5d7 !important;
}
#fbar {
  background-color: #f2e5bc !important;
}
tr.Even {
  background-color: #f2e5bc !important;
}
.BigQuote {
  background-color: #f2e5bc !important;
  color: #fb4934 !important;
}
.Cat1HL {
  background-color: #8ec07c !important;
  color: #458588 !important;
}
.Cat2HL {
  background-color: #efdfae !important;
}
.Cat3HL {
  background-color: #f1e2b5 !important;
}
.FeatureByline {
  background-color: #f2e5bc !important;
  border: none !important;
}
.Headline {
  background-color: #efdfae !important;
}
.QuotedText {
  color: #d3869b !important;
}
DIV.GAByline {
  background-color: #f2e5bc !important;
  border: none !important;
}
table.OddEven tr:nth-child(even) {
  background-color: #f8f3cf !important;
}
table.OddEven tr:nth-child(odd) {
  background-color: #f9f5d7 !important;
}
DIV.CommentBox {
  border-color: #f2e5bc !important;
}
DIV.CommentBox P.CommentTitle {
  background-color: #efdfae !important;
}
#menu,
.topnav-container {
  background-color: #f2e5bc !important;
}
.navmenu ul {
  background-color: #f2e5bc !important;
}
body * {
  border-color: #efdfae !important;
}
#content {
  background-color: #f9f5d7 !important;
  color: #282828 !important;
}
#mw-head,
#mw-panel {
  background-color: #f2e5bc !important;
  color: #458588 !important;
}
#mw-head div.portal,
#mw-panel div.portal {
  background-image: none !important;
}
#mw-head {
  background-color: #f2e5bc !important;
  background-image: linear-gradient(to bottom, #f9f5d7, #f2e5bc) !important;
}
#mw-panel,
#p-logo {
  background-image: linear-gradient(to right, #f9f5d7, #f2e5bc) !important;
}
div.vectorTabs {
  background-image: linear-gradient(to bottom, #f9f5d7, #f2e5bc) !important;
}
div.vectorTabs ul {
  background-image: linear-gradient(to bottom, #f9f5d7, #f2e5bc) !important;
}
div.vectorTabs ul li {
  background-color: #f2e5bc !important;
  background-image: none !important;
  padding: 0px 1px 0px 1px !important;
}
div.vectorTabs span {
  background-color: #f2e5bc !important;
  background-image: linear-gradient(to bottom, #f9f5d7, #f2e5bc) !important;
}
div.vectorTabs li.selected,
div.vectorTabs li.selected span {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #f2e5bc, #f9f5d7) !important;
}
.mw-wiki-logo {
  filter: opacity(50%);
}
div#simpleSearch #searchInput {
  background-color: #f9f5d7 !important;
  padding: 0.05em 0px 0.2em 0.2em !important;
}
.ambox,
.infobox,
#toc,
#toctitle,
.toclevel-1 {
  background-color: #f2e5bc !important;
  border-color: #efdfae !important;
  color: #458588 !important;
}
.catlinks {
  background-color: #f2e5bc !important;
  border-color: #efdfae !important;
  color: #458588 !important;
}
.navbox {
  background-color: #f2e5bc !important;
  border-color: #efdfae !important;
  color: #458588 !important;
}
.navbox .th,
.navbox .navbox-title {
  background-color: #efdfae !important;
}
.navbox-abovebelow,
th.navbox-group,
.navbox-subgroup,
.navbox-title {
  background-color: #f1e2b5 !important;
}
.navbox-even {
  background-color: #f9f5d7 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  border-color: #efdfae !important;
  color: #458588 !important;
}
code {
  background-color: #efdfae !important;
  border-color: #efdfae !important;
  color: #458588 !important;
}
div.thumbinner {
  background-color: #f2e5bc !important;
  border-color: #efdfae !important;
}
img {
  filter: opacity(75%);
}
img.thumbimage {
  border-color: #efdfae !important;
}
.mw-body .external {
  opacity: 0.5 !important;
}
table.wikitable {
  background-color: #f9f5d7 !important;
  border-color: #efdfae !important;
  color: #282828 !important;
}
table.wikitable > * > tr > th {
  background-color: #f2e5bc !important;
}
table {
  background-color: #f9f5d7 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table,
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table {
  background-color: #fb4934 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) a,
#hnmain > tbody:nth-child(1) > tr:nth-child(1) a {
  color: #000 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > tbody:nth-child(1) > tr:nth-child(2),
#hnmain > tbody:nth-child(1) > tr:nth-child(2) {
  background-color: #f9f5d7 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(2) {
  background-color: #f9f5d7 !important;
}
.title a {
  color: #282828 !important;
}
.title a:visited {
  color: #8ec07c !important;
}
a.storylink {
  color: #458588 !important;
  font-weight: bold;
}
.sitestr {
  color: #458588 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(3) > td:nth-child(1) {
  background-color: #f9f5d7 !important;
}
#hnmain .comhead {
  color: #458588 !important;
}
#hnmain .c00 {
  color: #282828 !important;
}
#hnmain a.hnuser {
  color: #d79921 !important;
}
#hnmain span.age a {
  color: #8ec07c !important;
}
.cdd {
  color: rgba(180,0,0,0.65) !important;
}
.comment i {
  color: #8ec07c !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(4) {
  background-color: #f9f5d7 !important;
}
#hnmain > tbody:nth-child(1) > tr:nth-child(4) > td:nth-child(1) > table:nth-child(2) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) {
  background-color: #fb4934 !important;
}
div#page div#header {
  background-color: #f9f5d7 !important;
}
div#page div#header a {
  color: #d3869b !important;
}
.post {
  background-color: #f9f5d7 !important;
}
.post * {
  overflow: auto !important;
}
.post h2 {
  background-color: #f2e5bc !important;
}
.post h2 a {
  color: #458588 !important;
}
.post div.entry {
  background-color: #f9f5d7 !important;
  color: #282828 !important;
}
.post div.entry blockquote {
  background-color: #f2e5bc !important;
}
.post div.entry kbd {
  background-color: #f2e5bc !important;
  border-color: #8ec07c !important;
  box-shadow: none !important;
  color: #458588 !important;
  text-shadow: 0px 1px 0px #000 !important;
}
.post pre.mode-line {
  overflow: visible !important;
}
#sr-header-area {
  background-color: #f2e5bc !important;
}
#sr-header-area .srdrop .selected {
  color: #282828 !important;
}
#sr-header-area #sr-more-link {
  background-color: #f2e5bc !important;
}
.link.promotedlink.promoted {
  background-color: #f2e5bc !important;
}
.link .usertext .md {
  background-color: #f2e5bc !important;
}
.linkinfo {
  background-color: #f2e5bc !important;
}
.linklisting .odd {
  background-color: #f2e5bc !important;
}
.thing .title {
  color: #282828 !important;
}
div.md {
  color: #282828 !important;
}
body.comment {
  background-color: #f9f5d7 !important;
}
.commentarea > .usertext {
  background-color: #f9f5d7 !important;
}
.commentarea .menuarea {
  background-color: #f9f5d7 !important;
}
.comments-page .panestack-title {
  background-color: #f9f5d7 !important;
}
.listing-chooser {
  background-color: #f9f5d7 !important;
}
.listing-chooser .intro {
  background-color: #8ec07c !important;
  color: #458588 !important;
}
.listing-chooser .grippy {
  background-color: #f9f5d7 !important;
}
.listing-chooser .grippy:after {
  border-right: none !important;
}
.listing-chooser li {
  background-color: #f2e5bc !important;
}
.listing-chooser li.selected {
  background-color: #8ec07c !important;
  box-shadow: none;
}
.listing-chooser li a {
  color: #282828 !important;
}
.listing-chooser li a .description {
  color: #458588 !important;
}
.titlebox {
  background-color: #f2e5bc !important;
}
.titlebox form.toggle {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
.side .usertext-body .md {
  background-color: #f2e5bc !important;
}
.side {
  background-color: #f2e5bc !important;
}
.sidebox .spacer {
  background-color: #f2e5bc !important;
  color: #458588 !important;
}
.tabmenu li a {
  background-color: #f2e5bc !important;
}
#header-bottom-right {
  background-color: #f2e5bc !important;
}
.morelink .nub {
  background-color: #f2e5bc !important;
}
* {
  border-color: #83a598 !important;
}
a {
  color: #458588 !important;
}
a:visited {
  color: #d3869b !important;
}
body {
  background-color: #f9f5d7 !important;
  color: #282828 !important;
}
html {
  background-color: #f9f5d7 !important;
}
input,
textarea {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
tr:hover,
blockquote,
pre {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
#toolMenu li {
  background-color: #f9f5d7 !important;
}
.navPanel,
.navIntraTool {
  background-color: #f9f5d7 !important;
}
.instruction,
.sakaiCopyrightInfo {
  color: #282828 !important;
}
.listHier th {
  background-color: #efdfae !important;
}
ul.makeMenu {
  background-color: #efdfae !important;
  border: 1px solid #efdfae !important;
}
tr.external {
  background-color: #efdfae !important;
}
hr {
  background-color: #efdfae !important;
  color: #efdfae !important;
}
.bounty-indicator,
.bounty-indicator-tab {
  background-color: #d3869b !important;
}
.bottom-notice {
  background-color: #f2e5bc !important;
}
.comments-link {
  color: #98971a !important;
}
.page-numbers {
  background-color: #98971a !important;
  color: #1d2021 !important;
}
.page-numbers.current {
  background-color: #fb4934 !important;
  color: #f9f5d7 !important;
}
.post-menu a {
  color: #d3869b !important;
}
.question-status {
  background-color: #f2e5bc !important;
}
pre code {
  background-color: #f2e5bc !important;
  color: #458588 !important;
}
pre code .atn {
  color: #458588 !important;
}
pre code .atv {
  color: #689d6a !important;
}
pre code .com {
  color: #8ec07c !important;
}
pre code .kwd {
  color: #98971a !important;
}
pre code .lit {
  color: #b16286 !important;
}
pre code .pln,
pre code .pun {
  color: #282828 !important;
}
pre code .str {
  color: #689d6a !important;
}
pre code .tag {
  color: #98971a !important;
}
pre code .typ {
  color: #d79921 !important;
}
#footer {
  background-color: #f1e2b5 !important;
  color: #282828 !important;
}
#footer #footer-sites th {
  color: #458588 !important;
}
.top-footer-links a {
  color: #98971a !important;
}
.so-header {
  background-color: #efdfae !important;
  color: #458588 !important;
}
.so-header a {
  color: #98971a !important;
}
.so-header .navigation .-list .-item :hover {
  background-color: #98971a !important;
  color: #282828 !important;
}
.topbar-dialog {
  background-color: #f9f5d7 !important;
  box-shadow: #8ec07c 5px 5px 5px;
}
.topbar-dialog .current-site-container {
  background-color: #f9f5d7 !important;
}
.topbar-dialog .header {
  background-color: #f2e5bc !important;
}
.topbar-dialog .header a {
  color: #458588 !important;
}
.topbar-dialog .site-link {
  color: #458588 !important;
}
#header {
  background-color: #efdfae !important;
}
#question-header .question-hyperlink {
  color: #458588 !important;
}
#hlogo a {
  filter: opacity(75%);
}
.new-post-activity {
  background-color: #f2e5bc !important;
}
.tagged-interesting {
  background-color: #efdfae !important;
}
div.answered-accepted {
  background-color: #98971a !important;
  color: #1d2021 !important;
}
div.answered-accepted .mini-counts {
  background-color: #98971a !important;
  color: #1d2021 !important;
}
.answered .mini-counts span {
  color: #98971a !important;
}
.unanswered .mini-counts span {
  color: #282828 !important;
}
#hot-network-questions a {
  color: #689d6a !important;
}
#hot-network-questions h4 a.js-gps-track {
  color: #458588 !important;
}
#sidebar .community-bulletin .bulletin-item-content a {
  color: #458588 !important;
}
#sidebar .module.community-bulletin {
  background-color: #f2e5bc !important;
  color: #458588 !important;
}
#sidebar .question-hyperlink {
  color: #689d6a !important;
}
.newuser {
  background-color: #f2e5bc !important;
  color: #458588 !important;
}
.label-key {
  color: #282828 !important;
}
.label-key b {
  color: #458588 !important;
}
#h-chat-link {
  color: #458588 !important;
}
.ad502-room {
  background-color: #f2e5bc !important;
  box-shadow: #8ec07c 0px 1px 3px;
  color: #458588 !important;
}
#tabs a {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, #f9f5d7, #f2e5bc);
  color: #458588 !important;
}
#tabs a.youarehere {
  background-image: linear-gradient(to bottom, #fb4934, #f9f5d7);
  color: #282828 !important;
}
.post-tag {
  background-color: #8ec07c !important;
  color: #f9f5d7 !important;
}
.post-tag::before {
  background-color: #f9f5d7 !important;
}
a.comment-user.owner {
  background-color: #98971a !important;
  color: #1d2021 !important;
}
.post-signature {
  background-color: #f2e5bc !important;
  color: #458588 !important;
}
.post-signature a {
  color: #689d6a !important;
}
.post-signature.owner .user-info .user-details a {
  color: #98971a !important;
}
.post-signature span.relativetime {
  color: #458588 !important;
}
.vote {
  background-color: #f2e5bc !important;
}
.vote .star-off {
  filter: opacity(75%);
}
.vote .star-on {
  filter: opacity(50%) !important;
}
.vote .vote-down-off,
.vote .vote-up-off {
  filter: opacity(50%);
}
.answer-votes {
  background-color: #8ec07c !important;
  color: #f9f5d7 !important;
}
