* {
  border-color: #83a598 !important;
}
a {
  color: #458588 !important;
}
a:visited {
  color: #d3869b !important;
}
body {
  background-color: #f9f5d7 !important;
  color: #282828 !important;
}
html {
  background-color: #f9f5d7 !important;
}
input,
textarea {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
blockquote,
pre {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
#sr-header-area {
  background-color: #f2e5bc !important;
}
#sr-header-area .srdrop .selected {
  color: #282828 !important;
}
#sr-header-area #sr-more-link {
  background-color: #f2e5bc !important;
}
.link.promotedlink.promoted {
  background-color: #f2e5bc !important;
}
.link .usertext .md {
  background-color: #f2e5bc !important;
}
.linkinfo {
  background-color: #f2e5bc !important;
}
.linklisting .odd {
  background-color: #f2e5bc !important;
}
.thing .title {
  color: #282828 !important;
}
div.md {
  color: #282828 !important;
}
body.comment {
  background-color: #f9f5d7 !important;
}
.commentarea > .usertext {
  background-color: #f9f5d7 !important;
}
.commentarea .menuarea {
  background-color: #f9f5d7 !important;
}
.comments-page .panestack-title {
  background-color: #f9f5d7 !important;
}
.listing-chooser {
  background-color: #f9f5d7 !important;
}
.listing-chooser .intro {
  background-color: #8ec07c !important;
  color: #458588 !important;
}
.listing-chooser .grippy {
  background-color: #f9f5d7 !important;
}
.listing-chooser .grippy:after {
  border-right: none !important;
}
.listing-chooser li {
  background-color: #f2e5bc !important;
}
.listing-chooser li.selected {
  background-color: #8ec07c !important;
  box-shadow: none;
}
.listing-chooser li a {
  color: #282828 !important;
}
.listing-chooser li a .description {
  color: #458588 !important;
}
.titlebox {
  background-color: #f2e5bc !important;
}
.titlebox form.toggle {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
.side .usertext-body .md {
  background-color: #f2e5bc !important;
}
.side {
  background-color: #f2e5bc !important;
}
.sidebox .spacer {
  background-color: #f2e5bc !important;
  color: #458588 !important;
}
.tabmenu li a {
  background-color: #f2e5bc !important;
}
#header-bottom-right {
  background-color: #f2e5bc !important;
}
.morelink .nub {
  background-color: #f2e5bc !important;
}
