* {
  border-color: #83a598 !important;
}
a {
  color: #458588 !important;
}
a:visited {
  color: #d3869b !important;
}
body {
  background-color: #f9f5d7 !important;
  color: #282828 !important;
}
html {
  background-color: #f9f5d7 !important;
}
input,
textarea {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
blockquote,
pre {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
* {
  border-color: #83a598 !important;
}
a {
  color: #458588 !important;
}
a:visited {
  color: #d3869b !important;
}
body {
  background-color: #f9f5d7 !important;
  color: #282828 !important;
}
html {
  background-color: #f9f5d7 !important;
}
input,
textarea {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
tr:hover,
blockquote,
pre {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
#toolMenu li {
  background-color: #f9f5d7 !important;
}
.navPanel,
.navIntraTool {
  background-color: #f9f5d7 !important;
}
.instruction,
.sakaiCopyrightInfo {
  color: #282828 !important;
}
.listHier th {
  background-color: #efdfae !important;
}
ul.makeMenu {
  background-color: #efdfae !important;
  border: 1px solid #efdfae !important;
}
tr.external {
  background-color: #efdfae !important;
}
