* {
  border-color: #83a598 !important;
}
a {
  color: #458588 !important;
}
a:visited {
  color: #d3869b !important;
}
body {
  background-color: #f9f5d7 !important;
  color: #282828 !important;
}
html {
  background-color: #f9f5d7 !important;
}
input,
textarea {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
blockquote,
pre {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
div#page div#header {
  background-color: #f9f5d7 !important;
}
div#page div#header a {
  color: #d3869b !important;
}
.post {
  background-color: #f9f5d7 !important;
}
.post * {
  overflow: auto !important;
}
.post h2 {
  background-color: #f2e5bc !important;
}
.post h2 a {
  color: #458588 !important;
}
.post div.entry {
  background-color: #f9f5d7 !important;
  color: #282828 !important;
}
.post div.entry blockquote {
  background-color: #f2e5bc !important;
}
.post div.entry kbd {
  background-color: #f2e5bc !important;
  border-color: #8ec07c !important;
  box-shadow: none !important;
  color: #458588 !important;
  text-shadow: 0px 1px 0px #000 !important;
}
.post pre.mode-line {
  overflow: visible !important;
}
