* {
  border-color: #83a598 !important;
}
a {
  color: #458588 !important;
}
a:visited {
  color: #d3869b !important;
}
body {
  background-color: #f9f5d7 !important;
  color: #282828 !important;
}
html {
  background-color: #f9f5d7 !important;
}
input,
textarea {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
blockquote,
pre {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
tr.Even {
  background-color: #f2e5bc !important;
}
.BigQuote {
  background-color: #f2e5bc !important;
  color: #fb4934 !important;
}
.Cat1HL {
  background-color: #8ec07c !important;
  color: #458588 !important;
}
.Cat2HL {
  background-color: #efdfae !important;
}
.Cat3HL {
  background-color: #f1e2b5 !important;
}
.FeatureByline {
  background-color: #f2e5bc !important;
  border: none !important;
}
.Headline {
  background-color: #efdfae !important;
}
.QuotedText {
  color: #d3869b !important;
}
DIV.GAByline {
  background-color: #f2e5bc !important;
  border: none !important;
}
table.OddEven tr:nth-child(even) {
  background-color: #f8f3cf !important;
}
table.OddEven tr:nth-child(odd) {
  background-color: #f9f5d7 !important;
}
DIV.CommentBox {
  border-color: #f2e5bc !important;
}
DIV.CommentBox P.CommentTitle {
  background-color: #efdfae !important;
}
#menu,
.topnav-container {
  background-color: #f2e5bc !important;
}
.navmenu ul {
  background-color: #f2e5bc !important;
}
