* {
  border-color: #83a598 !important;
}
a {
  color: #458588 !important;
}
a:visited {
  color: #d3869b !important;
}
body {
  background-color: #f9f5d7 !important;
  color: #282828 !important;
}
html {
  background-color: #f9f5d7 !important;
}
input,
textarea {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
blockquote,
pre {
  background-color: #f2e5bc !important;
  color: #282828 !important;
}
.sfbgg {
  background-color: #f2e5bc !important;
}
.sbib_a {
  background: linear-gradient(to bottom, #f2e5bc, #f9f5d7) !important;
}
input#lst-ib,
#sb_ifc0.sbib_b,
#gs_taif0 {
  background: transparent !important;
}
#lst-ib,
.sbsb_a {
  background-color: #f9f5d7 !important;
}
.kpbb {
  background-image: linear-gradient(to bottom, #67afb2, #458588) !important;
}
#hdtbSum {
  background-color: #f9f5d7 !important;
}
#hdtbMenus.hdtb-td-o {
  background-color: #f9f5d7 !important;
}
#hdtb-tls.hdtb-tl {
  background-image: linear-gradient(to bottom, #f9f5d7, #f2e5bc) !important;
}
#hdtb-tls.hdtb-tl.hdtb-tl-sel {
  background-image: linear-gradient(to bottom, #f2e5bc, #f9f5d7) !important;
}
#abar_button_opt.ab_button {
  background: linear-gradient(to bottom, #f9f5d7, #f2e5bc) !important;
}
#appbar {
  background-color: #f9f5d7 !important;
}
cite {
  color: #98971a !important;
}
.ab_dropdown {
  background-color: #f9f5d7 !important;
}
div.crp {
  background-color: #f9f5d7 !important;
}
#fbar {
  background-color: #f2e5bc !important;
}
